.main-container{
    background-image: url(../../assets/fondo1.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.main-title{
    width: 80%;
    font-size: 2rem;
    padding: 1rem;
    background-color: #2b006767;
    backdrop-filter: blur(8px);
    text-align: center;
    z-index: 1;
}
.main-descripcion{
    width: 90%;
    font-size: 1rem;
    padding: 2rem;
    margin: 2rem;
    background-color: #2b006767;
    backdrop-filter: blur(8px);
    box-shadow: 0 3px 8px ;
    z-index: 1;
}
@media screen and (min-width:1200px) {
    .main-container{
        width: 90%;
        height: 80vh;
        margin:  auto;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
    }
    .main-title{
        width: 60%;
        font-size: 4rem;
        padding: 3rem ;
        margin:0 0 3rem 1rem;
    }
    .main-descripcion{
        width: 50%;
        font-size: 2rem;
        padding: 3rem;
        margin: 1rem;
    }
}