.slider{
  height: 4rem;
  width: 100vw;
  padding: 0 .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.slider-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: .5rem;
  align-items: center; 
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: pointer;
}
.btn-slider{
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  font-size: 1rem;
  font-weight:900;
  color: var(--color-text-1);
  background-color:var(--color-bg-3);
  cursor: pointer;
  border: none;
}
.previus-btn{
  left: .5rem;
}
.next-btn{
  right:.5rem;
}
.btn-slider:hover{
  background-color: var(--color-bg-5);
  border: 1px solid var(--color-bg); 
  color: var(--color-text-2);

}

@media  screen and (min-width:1200px) {
  .slider{
    height: 4.5rem;
    width: 100%;
  }
  
  .slider-container{
    width: 90%;
    margin: auto;
  }
  .btn-slider{
    width: 3rem;
    height: 2.5rem;
    font-size: 2rem;
    font-weight:900;
  }
  .previus-btn{
    left: 2rem;
  }
  .next-btn{
    right:2rem;
  }
  
}
