.container-card{
    margin: 2rem 1rem;
    background-color: #00000078;
    backdrop-filter: blur(5rem);
    width:22rem;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 0 1px 2px #000; */
    border: 1px solid #000000a8;
    justify-content: space-around;
}
.container-card:hover{
    transform: scale(1.02) ;
    border: solid 1px var(--color-bg);
    /* box-shadow: 0 0 1px 1px #000; */

}
.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card-image{
    width: 80%;
    height: 40%;
    object-fit: cover;
}
.card-contend{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-name{
    padding: 1rem 0;
    font-size: 1.7rem;
}
.card-category{
    font-size: 1.2rem;
    padding:0 0 1rem 0;
}
.card-description{
    font-size: 1rem;
    text-align: center;
    font-weight: 100;
}
.card-price{
    padding:1rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-text-1);

}
.card-stock{
    font-size: 1rem;
    padding: 1rem;
}
.card-contain-btn{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card-btn{
    width: 3.5rem;
    height: 3.5rem;
    border:none;
    font-size: 2rem;
    background: none;
    color: #fff;
    text-align: center;
}
.btn-fav:checked{
    color: black;
    background-color: #fff;
}
.card-btn:hover{
    background-color: var(--color-bg);
    border-radius: .4rem;
    border: 1px solid var(--color-text-1);
}
.card-btn:active{
    background-color: var(--color-bg-4);
    border-radius: .4rem;
    border: 1px solid var(--color-text-1);
}

