
.header{
    background-color:var(--color-bg-2);
    position: sticky;
    height:5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 20;
}
.logo{
    margin: .8rem 0 0 .8rem;
    display: inline-block;
    width: 70%;
    font-size: 2rem;
    color: var(--color-text-1);
}
.side-menu{
    display: none;
}
.side-menu:checked ~ nav{
    max-height: 60vh;
}
.hamb{
    height: 30px;
    width: 5rem;
    margin: 1.5rem .8rem 0 0;
    cursor: pointer;
}
.hamb span{
    height: 2px;
    width: 30%;
    margin: .3rem auto 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform-origin:0 100% ;
    transition: all 300ms ease-in-out;
}
.side-menu:checked ~ .hamb .hamb-line1{
    transform: rotate(45deg)translate(-2px, 1px);
    height: 3px;
}
.side-menu:checked ~ .hamb .hamb-line2{
    opacity: 0;
}
.side-menu:checked ~ .hamb .hamb-line3{
    transform: rotate(-45deg) translate(-2px, 1px);
    height: 3px;

}
.nav{
    width: 60vw;
    height: 70vh;
    position: absolute;
    right: 0;
    top:4rem;
    background-color: var(--color-bg-3);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
    z-index: 10;
}
.menu a{
    display: block;
    padding: 25px;
    color: var(--color-text-1);
    transition: all .4s ease-in-out;
}
.menu a:hover{
    background-color: var(--color-bg-4);
}


/** section cart , fav y login */
.section-cart{
    height: auto;
    width: auto;
    position: fixed;
    right: 0;
    top: 5rem;
    text-align: center;
    display: flex;
}
.open-carts{
    display:none ;
}
.open-carts:checked ~ .menu-cart{
    max-width: 4rem;
}
.open-carts:checked ~ .btn-cart i{
    display: block;    
    transform: rotate(180deg);
    transition: transform 300ms ease-in-out;
}
.btn-cart {
    width:2.5rem;
    height: 2.5rem;
    margin:0 .5rem;
    background-color:var(--color-bg-3) ;
    border: none;
    border-radius: 20px;
    font-size: 2rem;
    color: var(--color-text-1);
}
.menu-cart{
    background-color:var(--color-bg-5);
    height: 100%;
    width: 4rem;
    max-width: 0;
    overflow: hidden;
    transition: max-width 500ms ease-out;
    cursor: pointer;
}
.item-cart{
    border: none;
    color: var(--color-text-4);
    background: none;
    font-size: 2rem;
    padding: .3rem;
}
.item-cart span{
    display: block;
    position: relative ;
    background-color:var(--color-bg-2);
    border-radius: 50px;
    height:1.4rem;
    width:1.4rem;
    font-size: 1rem;
    right: -1.4rem;
    bottom: 2.7rem;
}


/** media query*/
@media  screen and (min-width:1200px) {
    .header{
        height: 7rem;
        justify-content: space-evenly;
        align-items: center;
    }
    .logo{
        margin: 0;
        font-size: 3rem;
        width: 30%;
    }
    .hamb{
        display: none;
    }
    .nav{
        width: 60%;
        height: auto;
        position: relative;
        top:0;
        max-height: none;
        background-color: var(--color-bg-2);
    }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .menu a{
        padding: 15px;
        color: var(--color-text-1);
    }
    .menu a:hover{
        background-color: var(--color-bg-3);
    }
    
    /** section cart , fav y login */
    .section-cart{
        height: 3rem;
        width: 16rem;
        position:absolute;
        right: 0;
        top:7rem;
        text-align: center;
    }
    .open-carts{
        display:none ;
    }
    .open-carts:checked ~ .menu-cart{
        max-width: none;
    }
    .btn-cart {
        display: none;
    }
    .menu-cart{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        max-width: none;
    }
    .item-cart{
        border: none;
        color: var(--color-text-4);
        background: none;
        font-size: 1.5rem;
        padding: .3rem;
    }
    .item-cart:active{
        background-color: var(--color-bg-2);
    }
    .item-cart a  {
        padding-bottom: 1rem;
    }
    .item-cart span{
        display: inline-block;
        position: relative;
        background-color:var(--color-bg-2);
        border-radius: 50px;
        height:1.3rem;
        width:1.3rem;
        font-size: .8rem;
        right: .5rem;
        top:.5rem;
        z-index: 20;
        
    }
}