*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--color-bg);
  color: var(--color-text-1);
}
ul{
  list-style: none;
}
a{
  text-decoration: none ;
  color: var(--color-text-1);
}

:root{
  --color-bg:#0b011f;
  --color-bg-2:#180340;
  --color-bg-3:#2c057a;
  --color-bg-4:#1a0650;
  --color-bg-5:#4416c1;
  --color-text-2:#a28fff;
  --color-text-1:#ded6ff;
}
