*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #021024;
background: linear-gradient(45deg, #030205 0%, #052659 35%,#11448f 50%, #052659 75%, #000000 95%);
  color: var(--color-text-1);
  background-attachment: fixed;
}
ul{
  list-style: none;
}
a{
  text-decoration: none ;
  color: var(--color-text-1);
}

/* :root{
  --color-bg:#0b011f;
  --color-bg-2:#160c43;
  --color-bg-3:#2c057a;
  --color-bg-4:#1a0650;
  --color-bg-5:#4416c1;
  --color-text-2:#a28fff;
  --color-text-1:#ded6ff;
} */
:root{
  --color-bg:#021024;
  --color-bg-2:#052659;
  --color-bg-3:#043a71;
  --color-bg-4:#5485c0;
  --color-bg-5:#c1e8ff;
  --color-text-2:#007aa6;
  --color-text-1:#d0eeff;
}
