.category-contain{
  padding : 4rem 0 ;
}
.title-products-details{
  font-size: 2rem;
  padding: 0 1rem;
}
.title-products{
  font-size: 2rem;
  margin: 2rem 0 0 3rem;
}




/* ? estilos del buscador (search) */

.card-contain{
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


@media screen and (min-width:1200px){
  .card-contain{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}